<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDNnysii4_P_OaWwgqevkRI-QgLfS7oSGk</string>
	<key>GCM_SENDER_ID</key>
	<string>257333404922</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cncCrud</string>
	<key>PROJECT_ID</key>
	<string>cnc-db-crud</string>
	<key>STORAGE_BUCKET</key>
	<string>cnc-db-crud.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:257333404922:ios:f607c32daa0a7370ca5543</string>
	<key>DATABASE_URL</key>
	<string>https://cnc-db-crud-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>